@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/nunito-sans";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9851 0.0051 56.3628);
  --foreground: oklch(0.3182 0.0115 248.1899);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3182 0.0115 248.1899);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3182 0.0115 248.1899);
  --primary: oklch(0.6397 0.1124 158.9419);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9261 0.0304 55.9816);
  --secondary-foreground: oklch(0.3182 0.0115 248.1899);
  --muted: oklch(0.9628 0.0129 56.2491);
  --muted-foreground: oklch(0.5517 0.0113 248.0331);
  --accent: oklch(0.8585 0.0260 164.3253);
  --accent-foreground: oklch(0.3182 0.0115 248.1899);
  --destructive: oklch(0.6333 0.2001 24.9320);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8868 0.0263 56.0247);
  --input: oklch(0.8868 0.0263 56.0247);
  --ring: oklch(0.6397 0.1124 158.9419);
  --chart-1: oklch(0.6397 0.1124 158.9419);
  --chart-2: oklch(0.8021 0.0934 65.8324);
  --chart-3: oklch(0.7092 0.0815 249.0398);
  --chart-4: oklch(0.8720 0.0670 107.7127);
  --chart-5: oklch(0.7270 0.0699 307.3911);
  --sidebar: oklch(0.9297 0.0128 164.7776);
  --sidebar-foreground: oklch(0.3182 0.0115 248.1899);
  --sidebar-primary: oklch(0.5759 0.0916 159.7726);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8272 0.0406 163.7846);
  --sidebar-accent-foreground: oklch(0.3182 0.0115 248.1899);
  --sidebar-border: oklch(0.8585 0.0260 164.3253);
  --sidebar-ring: oklch(0.5759 0.0916 159.7726);
  --font-sans: 'Merriweather Sans', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(24, 60%, 10%);
  --shadow-2xs: 0px 4px 10px -2px hsl(24 60% 10% / 0.03);
  --shadow-xs: 0px 4px 10px -2px hsl(24 60% 10% / 0.03);
  --shadow-sm: 0px 4px 10px -2px hsl(24 60% 10% / 0.05), 0px 1px 2px -3px hsl(24 60% 10% / 0.05);
  --shadow: 0px 4px 10px -2px hsl(24 60% 10% / 0.05), 0px 1px 2px -3px hsl(24 60% 10% / 0.05);
  --shadow-md: 0px 4px 10px -2px hsl(24 60% 10% / 0.05), 0px 2px 4px -3px hsl(24 60% 10% / 0.05);
  --shadow-lg: 0px 4px 10px -2px hsl(24 60% 10% / 0.05), 0px 4px 6px -3px hsl(24 60% 10% / 0.05);
  --shadow-xl: 0px 4px 10px -2px hsl(24 60% 10% / 0.05), 0px 8px 10px -3px hsl(24 60% 10% / 0.05);
  --shadow-2xl: 0px 4px 10px -2px hsl(24 60% 10% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2664 0.0135 248.3348);
  --foreground: oklch(0.9630 0.0150 56.2183);
  --card: oklch(0.2133 0.0096 248.2746);
  --card-foreground: oklch(0.9630 0.0150 56.2183);
  --popover: oklch(0.2133 0.0096 248.2746);
  --popover-foreground: oklch(0.9630 0.0150 56.2183);
  --primary: oklch(0.7085 0.0998 160.5896);
  --primary-foreground: oklch(0.2664 0.0135 248.3348);
  --secondary: oklch(0.3772 0.0409 54.8104);
  --secondary-foreground: oklch(0.9630 0.0150 56.2183);
  --muted: oklch(0.3182 0.0115 248.1899);
  --muted-foreground: oklch(0.7720 0.0547 55.4395);
  --accent: oklch(0.4451 0.0442 162.1823);
  --accent-foreground: oklch(0.9630 0.0150 56.2183);
  --destructive: oklch(0.6333 0.2001 24.9320);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4144 0.0162 248.2179);
  --input: oklch(0.4144 0.0162 248.2179);
  --ring: oklch(0.7085 0.0998 160.5896);
  --chart-1: oklch(0.7085 0.0998 160.5896);
  --chart-2: oklch(0.6034 0.1031 63.5629);
  --chart-3: oklch(0.5845 0.0962 249.7792);
  --chart-4: oklch(0.7371 0.0906 108.4310);
  --chart-5: oklch(0.5460 0.1025 306.2904);
  --sidebar: oklch(0.2133 0.0096 248.2746);
  --sidebar-foreground: oklch(0.9630 0.0150 56.2183);
  --sidebar-primary: oklch(0.6641 0.0962 160.4175);
  --sidebar-primary-foreground: oklch(0.2664 0.0135 248.3348);
  --sidebar-accent: oklch(0.3934 0.0381 162.2713);
  --sidebar-accent-foreground: oklch(0.9630 0.0150 56.2183);
  --sidebar-border: oklch(0.3671 0.0139 248.2062);
  --sidebar-ring: oklch(0.6641 0.0962 160.4175);
  --font-sans: 'Merriweather Sans', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(210, 15%, 5%);
  --shadow-2xs: 0px 6px 12px -2px hsl(210 15% 5% / 0.07);
  --shadow-xs: 0px 6px 12px -2px hsl(210 15% 5% / 0.07);
  --shadow-sm: 0px 6px 12px -2px hsl(210 15% 5% / 0.15), 0px 1px 2px -3px hsl(210 15% 5% / 0.15);
  --shadow: 0px 6px 12px -2px hsl(210 15% 5% / 0.15), 0px 1px 2px -3px hsl(210 15% 5% / 0.15);
  --shadow-md: 0px 6px 12px -2px hsl(210 15% 5% / 0.15), 0px 2px 4px -3px hsl(210 15% 5% / 0.15);
  --shadow-lg: 0px 6px 12px -2px hsl(210 15% 5% / 0.15), 0px 4px 6px -3px hsl(210 15% 5% / 0.15);
  --shadow-xl: 0px 6px 12px -2px hsl(210 15% 5% / 0.15), 0px 8px 10px -3px hsl(210 15% 5% / 0.15);
  --shadow-2xl: 0px 6px 12px -2px hsl(210 15% 5% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
